.questions {
	&__header {
	  font-size: 40px;
	  font-weight: 400;
	  text-align: left;
	  padding-left: 0.75em;
	  font-family: 'Raleway';
	  margin-top: 2em;
	}
  
	&__leave {
	  font-size: 16px;
	  font-weight: 400;
	  text-align: left;
	  padding-left: 2em;
	  padding-bottom: 2em;
	  font-family: 'Open Sans';
	}
	&__email {
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		color: rgb(165, 165, 165);
		padding-left: 0.75em;
		padding-bottom: 1em;
		font-family: 'Open Sans';
		&-img {
			display: flex;
			padding-left: 1.75em;
		  }
	}
	&__form {
  
	  &__checkbox {
		width: 24px;
		height: 24px;
		margin-right: 5px;
		vertical-align: top;
		margin-left: 2em;
  
		&-text {
		  display: inline-block;
		  width: 75%;
		  font-family: 'Open Sans';
		  font-style: normal;
		  font-weight: 400;
		  font-size: 0.75rem;
		  line-height: 1rem;
		  color: #707070;
		}
	  }
  
	  &-text {
		padding-left: 2.3em;
		color: rgb(8, 166, 228);
		font-size: 11px;
		font-weight: 600;
		text-align: left;
		letter-spacing: 3.2799999714px;
		font-family: 'Open Sans';
	  }
  
	  &-input {
		width: 85%;
		margin-right: 1em;
		margin-left: 2em;
		border: none;
		border-bottom: 1px solid #95989a;
		line-height: 40px;
		margin-bottom: 2em;
	  }
  
	  &-checkbox {
		width: 24px;
		height: 24px;
		margin-right: 5px;
		vertical-align: top;
		margin-left: 2em;
	  }
  
	  &-checkbox-text {
		display: inline-block;
		width: 75%;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 1rem;
		color: #707070;
	  }
  

	}
	&__button {
		padding-left: 7.5em;
		padding-right: 7.5em;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		border-radius: 35px;
		background: rgba(8, 166, 228, 1);
		color: white;
		box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
		position: relative;
		left:7em;
		top: 3em;
		font-family: 'Open Sans';
		font-weight: 700;
		border: none;
	  }
  }